@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

.tree-grid {
  border-collapse: collapse;
  margin: 25px auto;
  font-size: 0.9em;
  padding: 0.6rem;
  font-family: 'Lato', sans-serif;
  min-width: 400px;
  width: '100%';
}
