@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

h2 {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
}

.tree-grid {
  margin: 25px auto;
  font-size: 0.75em;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 100%;
  min-width: 400px;
  border-radius: 0.2rem;
  box-sizing: border-box;
  background-color: #fff;
}

.tree-grid thead tr {
  background-color: #fff;
  color: #ffffff;
  text-align: left;
  color: #333;
}

.tree-grid tbody tr:nth-child(2) td,
.tree-grid thead tr:nth-child(2) td {
  /* background-color: red; */
}

.tree-grid table tr td:nth-child(2) {
  /* background-color: yellow; */
  width: 49%;
}

.tree-grid tbody tr td:nth-child(2) {
  /* background-color: orange; */
}

.tree-grid thead tr th:nth-child(2) {
  /* background-color: blue; */
}

tr,
td {
  padding: 0;
  margin: 0;
}
tbody {
}

.tree-grid th,
.tree-grid td {
  padding: 0.8rem;
}

td {
}
.tree-grid tr:hover {
  /* background-color: #fdfdfd; */
}
.tree-grid-child {
  width: 100%;
}

.tree-grid-child tr {
  /* background-color: pink; */
}

td:not(.tree-grid-first) {
}
.tree-grid-first {
  width: 30px;
  margin: 0;
}

/* Tree Row */
.tree-row {
  display: flex;
  gap: 0.4rem;
  /* justify-content: space-between; */
  gap: 6px;
}

.tree-col {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.tree-row .tree-grid-first {
  width: 40px !important;
}

.tree-grid-child .tree-grid-first {
  width: 34px;
  padding-left: 6px;
  box-sizing: border-box;
}

.tree-row.head {
  font-weight: 700;
  padding: 0.6rem 0;
  background-color: #f3f3f3;
}
.tree-row.head {
  padding: 0.6rem 0;
}

.tree-row .tree-row-item:nth-child(2) {
  /* margin-left: -10rem; */
}

.tree-row-item {
  margin-right: 1rem;
  min-width: 96px;
  width: auto;
  text-align: left;
  padding: 0.6rem 0;
}

.tree-grid-first {
  padding: 0.6rem 0;
}

.tree-grid-child .tree-row .tree-row-item:nth-child(1) {
}

.tree-col .tree-row-item:first-child {
}
